.company-form {
    height: 300px;
    width: 200px;
    background-color: gainsboro;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    padding: 10px;
}

.company-form .nume {
    height: 60px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.company-form .data {
    height: 60px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.company-form .add {
    height: 40px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}